<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    Gazelo welcomes you!!!
    Hi! There are currently {{ nvideos }} videos in total.
    <ul>
        My Videos
        Total videos: {{ my_videos|length }}
        {% for v in my_videos %}
            <li>
                Video :: id= {{ v.id }} | name= {{ v.name }}
            </li>
        {% endfor %}
    </ul>

    <ul>
        All Videos
        Total videos: {{ all_videos|length }}
        {% for v in all_videos %}
            <li>
                Video :: id= {{ v.id }} | name= {{ v.name }} | added by= {{ v.user }} | access_level= {{ v.access_level }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
