{% extends "../base.html" %}
{% load static %}

{% block content %}
    <h1>{{ profile.full_name }}</h1>
    <h2>Followers : {{ profile.followers_count }}</h2>

    <ul>
        {% for u in followers %}
            <a class="list-group-item" href="{{ u.follower.profile.get_absolute_url }}">
                {{ u.follower.profile.full_name }}
            </a>
        {% endfor %}
    </ul>


    <h2>Following : {{ profile.following_count }}</h2>

    <ul>
        {% for u in followings %}
            <a class="list-group-item" href="{{ u.user.profile.get_absolute_url }}">
                {{ u.user.profile.full_name }}
            </a>
        {% endfor %}
    </ul>




{% endblock %}

