{% extends "../base.html" %}

{% block content %}
    <h1>Welcome to Gazelo, {{ user }} !!!</h1>
    <h4>There are currently {{ nvideos }} videos in total.</h4>
    <ul>
        <h5>My Videos</h5>
        Total videos: {{ my_videos|length }}
        {% for v in my_videos %}
            <li>
                Video :: id= {{ v.id }} | name= {{ v.name }}
            </li>
        {% endfor %}
    </ul>

    <ul>
        <h5>All Videos</h5>s
        Total videos: {{ all_videos|length }}
        {% for v in all_videos %}
            <li>
                Video :: id= {{ v.id }} | name= {{ v.name }} | added by= {{ v.user }} | access_level= {{ v.access_level }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

