{% extends "../base.html" %}

{% block content %}
    <h1>Welcome to Gazelo, {{ user }} !!!</h1>
    <h4>There are currently {{ ncontents }}  contents in total.</h4>
    <ul>
        <h5>My Contents</h5>
        Total contents: {{ my_contents|length }}
        {% for v in my_contents %}
            <li>
                Content :: id= {{ v.id }}
            </li>
        {% endfor %}
    </ul>

    <ul>
        <h5>All Contents</h5>
        Total contents: {{ all_contents|length }}
        {% for v in all_contents %}
            <li>
                Content :: id= {{ v.id }} | added by= {{ v.user }} | access_level= {{ v.access_level }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

